.benefitsbody{
    display: grid;
    grid-template-rows: 100px 400px 100px 70px;
    grid-template-columns: auto auto auto;
    height: 1080px;
    background: rgba(68, 10, 103, 0.03);
    align-items: center;
    padding: 0px 80px;
}

.benefits-title{
    padding-top: 30px;
    font-size: 68px;
    text-align: center;
    font-weight: 600;
    color: #251A2B;
    opacity: 1;
    grid-column: 1 / 4;
    transition: 0.5s;
}

.benefits-content{
    display: flex;
    flex-wrap: nowrap;
}

.benefitsbody h2{
    font-size: 35px;
    width: 330px;
    color: #251A2B;
    font-weight: 680;
    letter-spacing: -0.015em;
    text-align: center;
    margin: 10px 60px;
    grid-row: 3;
}

.benefit-circle{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: rgba(68, 10, 103, 0.11);
    margin: 20px 50px;
    transition: 1s;
    grid-row: 2;
}


.inner-circle{
    position: relative;
    height: 307px;
    width: 307px;
    border-radius: 50%;
    background: rgba(68, 10, 103, 0.11);
    left: 22px;
    top: 22px;
}

.inner-image{
    position: relative;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    left: 24px;
    top: 24px;
    background: wheat;
}

.know-more{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px 150px;
    height: 40px;
    width: 150px;
    background: rgba(68, 10, 103, 0.4);
    border-radius: 42px;
    color: white;
    font-size: 23px;
    text-align: center;
    /* z-index: 1; */
    grid-row: 4;
}

.know-more:hover{
    z-index: 3;
    opacity: 0;
    transition: 0.4s;
}

.know-more:hover ~ .know-more{
    opacity: 0;
}

.know-more:hover ~ h2{
    opacity: 0;
}

#student-ellipse{
    background-image: url("../assets/Student Ellipse.jpg");
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}

#college-ellipse{
    background-image: url("../assets/College Ellipse.png");
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}

#company-ellipse{
    background-image: url("../assets/Company Ellipse.png");
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}

#student-content{
    position: absolute;
    width: 850px;
    height: 650px;
    border-radius: 50px;
    visibility: hidden;
    opacity: 0;
    font-size: 30px;
    background: rgba(68, 10, 103, 0.0);
    transition: 1s;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
    transform: scale(0.5);
    transition: all 0.5s;
}

#company-content{
    position: absolute;
    width: 850px;
    height: 650px;
    visibility: hidden;
    opacity: 0;
    font-size: 30px;
    background: rgba(68, 10, 103, 0.0);
    transition: 1s;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
    transform: translate(-65%,0%) scale(0.5);
    transition: all 0.5s;
}

#college-content{
    position: absolute;
    width: 900px;
    height: 700px;
    visibility: hidden;
    opacity: 0;
    font-size: 30px;
    background: rgba(68, 10, 103, 0.0);
    transition: 1s;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
    transform: translateX(-130%) scale(0.5);
    transition: all 0.5s;
}


#know-more-1:hover ~ #benefit-circle-1 #student-ellipse{
    transition: all 0.5s;
    transform: translateX(-40%) scale(3.4);
}

#know-more-1:hover ~ #benefit-circle-1 #student-content{
    transition: all 0.5s;
    transform: translate(55%,-20%) scale(1);
    visibility: visible;
    opacity: 1;
}

#know-more-1:hover ~ .benefits-title{
    transition: 1s;
    transform: translateY(-100%);
    opacity: 0;
}

#know-more-1:hover ~ #benefit-circle-2{
    opacity: 0;
}

#know-more-1:hover ~ #benefit-circle-3{
    opacity: 0;
}


#know-more-2:hover ~ #benefit-circle-2 #company-ellipse{
    transition: all 0.5s;
    transform: translateX(-210%) scale(3);
}

#know-more-2:hover ~ #benefit-circle-2 #company-content{
    transition: all 0.5s;
    transform: translate(4%,-20%) scale(1);
    visibility: visible;
    opacity: 1;
}

#know-more-2:hover ~ .benefits-title{
    transition: 1s;
    transform: translateY(-100%);
    opacity: 0;
}

#know-more-3:hover ~ #benefit-circle-3 #college-ellipse{
    transition: all 0.5s;
    transform: translateX(-380%) scale(3);
}

#know-more-3:hover ~ #benefit-circle-3 #college-content{
    transition: all 0.5s;
    transform: translate(-46%,-20%) scale(1);
    visibility: visible;
    opacity: 1;
}

#know-more-2:hover ~ #benefit-circle-2{
    background: rgba(68, 10, 103, 0);
}
#know-more-2:hover ~ #benefit-circle-2 .inner-circle{
    background: rgba(68, 10, 103, 0);
}

#know-more-2:hover ~ #benefit-circle-3{
    opacity: 0;
}

#know-more-3:hover ~ .benefits-title{
    transition: 1s;
    transform: translateY(-100%);
    opacity: 0;
}

#know-more-3:hover ~ #benefit-circle-3{
    background: rgba(68, 10, 103, 0);
}
#know-more-3:hover ~ #benefit-circle-3 .inner-circle{
    background: rgba(68, 10, 103, 0);
}

#know-more-3:hover ~ #benefit-circle-2{
    opacity: 0;
}

#know-more-3:hover(:has(+ .know-more)){
    opacity: 0;
}

#student-title,#company-title,#college-title{
    position: absolute;
    top: 110px;
    left: 390px;
    font-size: 50px;
    font-weight: 700;
    text-align: start;
}

#student-content > p{
    position: absolute;
    top: 240px;
    left: 390px;
    font-size: 17px;
    text-align: start;
}

#college-content > p{
    position: absolute;
    top: 240px;
    left: 390px;
    font-size: 17px;
    text-align: start;
}

#company-content > p{
    position: absolute;
    top: 240px;
    left: 390px;
    font-size: 17px;
    text-align: start;
}